name: Testing

on:
  push:
  pull_request:
    branches: [master]

jobs:
  main:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Get dependencies
        run: flutter pub get

      - name: Check code format
        run: dart format -o none --set-exit-if-changed .

      - name: Static analyzer
        run: flutter analyze --fatal-infos .

      - name: Run unit tests
        run: flutter test test